.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.modal.show {
  animation: slideIn 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.hide {
  /* animation: slideOut 0.5s ease-in-out; */
  animation: slideOut 0.3s ease-out forwards;
}

.modalContent {
  /* Add your styles for modal content */
}

.modalClose {
  margin-top: 10px;
  background-color: #ccc;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
